<div class="col-md-12">
  <div class="card rounded-5 border-0 efecto-vidrio">
    <div class="card-header mt-4 d-flex justify-content-center border-0 bg-transparent">
      <div class="col-md-12 text-center">
        <h2 class="display-6 text-white fw-bold">👋 Hola, Soy <span style="color: #0dcaf0;">{{ title }}</span></h2>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-12 text-center">
        <button class="btn btn-dark rounded-5 ps-4 pe-4 fw-semibold fs-5 text-gradient pe-none" style="border: 1px solid #ffffff;"><i class="bi bi-laptop"></i> {{ currentRole }}</button>
      </div>
      <div class="col-md-12 p-3 mt-4">
        <p class="text-white fw-light" style="text-align: justify;">
          Soy <span class="fw-semibold" style="color: #0dcaf0;">Técnico Universitario en Programación🎓</span> recibido en la Universidad Tecnológica Nacional de Córdoba, Argentina. Actualmente me estoy desempeñando como Tester QA para la empresa Vates Software an Epam System, trabajando en conjunto con la empresa de telecomunicaciones CLARO 💻. <br>
        </p>
        <p class="text-white fw-light" style="text-align: justify;">Durante mi carrera, he adquirido <span class="fw-semibold" style="color: #0dcaf0;"> sólidas habilidades💡</span> en el desarrollo Full Stack, abarcando tanto back-end como front-end, con un sólido conocimiento en diversos lenguajes y tecnologías de programación. <br>
          Me especializo en aplicar <span class="fw-semibold" style="color: #0dcaf0;"> metodologías ágiles </span> para proyectos dinámicos y en constante evolución.
          Además, estoy perfeccionando mi nivel de inglés 📝 con clases particulares para optimizar la comunicación y mejorar mi perfil profesional.</p>
      </div>
    </div>
  </div>
</div>