.fondo-degrade {
    position: relative;
    background-image: url("/assets/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    height: 100%;
}

.efecto-vidrio {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.color-header {
    color: #bebebe;
}

.color-header:hover {
    color: #ffffff;
}

.boton-redes {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    scale: 1.0;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: transform 0.3s ease-in-out; /* Añade esta línea */
}

.boton-redes:hover {
    transform: scale(1.05); /* Usa transform: scale en lugar de solo scale */
}


button {
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0dcaf0;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 350ms
}
   
button:hover {
    color: #e8e8e8;
}
   
button:hover::before {
    width: 100%;
}

.toggle {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
  }
  
.input {
    display: none;
}
  
.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}
  
.icon--moon {
    transition-delay: 200ms;
}
  
.icon--sun {
    transform: scale(0);
}
  
#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}
  
#switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}

@media (max-width: 768px) {
    .nav-item .nav-link .text {
      display: none; /* Oculta el texto */
    }
}
