<div class="row d-flex justify-content-center align-items-center pt-5 pb-5">
  <div class="col-md-12" style="font-family: 'Onest'">
    <div>
      <div class="mt-4 mb-4 d-flex justify-content-center">
        <h2 class="text-white fw-bold">
          <i class="bi bi-mortarboard"></i> Educación
        </h2>
      </div>
      <div>
        <div
          class="header-container d-flex align-items-center justify-content-center text-center flex-nowrap mb-5"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/67/UTN_logo.jpg"
            alt="Logo UTN"
            class="logo-utn me-3 rounded-3"
          />
          <div class="text-container text-start">
            <h3 class="fw-bold fs-4 text-white mb-0">
              Tecnicatura Universitaria en Programación
            </h3>
            <p class="fw-light text-white mb-0">
              Universidad Tecnológica Nacional | Marzo 2022 - Diciembre 2024
            </p>
          </div>
        </div>
        <div class="col-md-12 mt-4">
          <div class="row g-4">
            <div class="col-md-3 col-12">
              <div class="card card-edu h-100 text-center p-3 efecto-vidrio">
                <div class="edu-icon mb-2"><i class="bi bi-server"></i></div>
                <h5 class="fw-bold text-white mb-2">BackEnd</h5>
                <p class="text-white fw-light mb-0" style="font-size: 15px">
                  Implementé APIs RESTful con Java, .Net y C#, usando Spring
                  Boot y ASP.NET Core.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card card-edu h-100 text-center p-3 efecto-vidrio">
                <div class="edu-icon mb-2"><i class="bi bi-window"></i></div>
                <h5 class="fw-bold text-white mb-2">FrontEnd</h5>
                <p class="text-white fw-light mb-0" style="font-size: 15px">
                  Desarrollé aplicaciones web modernas y responsivas utilizando
                  las últimas tecnologías.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card card-edu h-100 text-center p-3 efecto-vidrio">
                <div class="edu-icon mb-2">
                  <i class="bi bi-database"></i>
                </div>
                <h5 class="fw-bold text-white mb-2">Bases de Datos</h5>
                <p class="text-white fw-light mb-0" style="font-size: 15px">
                  Diseñé, diagramé y administré bases de datos relacionales con
                  SQL Server, MySQL y PostgreSQL.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="card card-edu h-100 text-center p-3 efecto-vidrio">
                <div class="edu-icon mb-2"><i class="bi bi-kanban"></i></div>
                <h5 class="fw-bold text-white mb-2">Metodologías ágiles</h5>
                <p class="text-white fw-light mb-0" style="font-size: 15px">
                  Proyectos con metodologías ágiles usando Jira y Confluence
                  para mayor eficiencia y calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
