::-webkit-scrollbar {
    width: 16px;
}


::-webkit-scrollbar-track {
    background: #313131;
    border: 1px solid #3b3b3b;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 50px;
}

