<div class="col-md-12 mt-4" style="font-family: 'Onest';">
  <div class="card rounded-5 border-0 efecto-vidrio">
    <div class="card-header mt-4 d-flex justify-content-center border-0 bg-transparent">
      <h2 class="text-white fw-light" style="font-family: 'Roboto';"><i class="bi bi-person-workspace"></i> Experience</h2>
    </div>
    <div class="card-body">
      <div class="timeline">
        <!-- Vates Experience -->
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="bi bi-briefcase-fill"></i>
          </div>
          <div class="ps-4">
            <h3 class="fw-bold fs-4 text-start text-white">Software Testing Engineer - <span class="fs-5" style="color: #0dcaf0;">Vates · Córdoba, Argentina</span></h3>
            <p class="fw-light text-white">September 2023 - Present</p>
            <p class="fw-light text-white" style="text-align: justify;">
              Internship in software development with .NET 7.0, applying OOP, inheritance, interfaces, unit testing, LINQ
              and collections. Use of SQLServer, Entity Framework (DataBase First and Code First), web development with
              MVC, API Rest, React, HTML and CSS.
            </p>
          </div>
        </div>

        <!-- Toti Conti Experience -->
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="bi bi-people-fill"></i>
          </div>
          <div class="ps-4">
            <h3 class="fw-bold fs-4 text-start text-white">Community Manager - <span class="fs-5" style="color: #0dcaf0;">Toti Conti S.A · Hernando, Córdoba, Argentina</span></h3>
            <p class="fw-light text-white">July 2021 - January 2023</p>
            <p class="fw-light text-white" style="text-align: justify;">
              Design and creation of flyers for Social Media. Account management to maximize reach and improve results.
              Use of Photoshop and Canva.
            </p>
          </div>
        </div>

        <!-- Baiocco Menardi Experience -->
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="bi bi-tools"></i>
          </div>
          <div class="ps-4">
            <h3 class="fw-bold fs-4 text-start text-white">Software and Hardware Maintenance - <span class="fs-5" style="color: #0dcaf0;">Baiocco Menardi · Hernando, Córdoba, Argentina</span></h3>
            <p class="fw-light text-white">August 2019 - July 2020</p>
            <p class="fw-light text-white" style="text-align: justify;">
              Maintenance, cleaning, program installation and software optimization tasks on various electronic devices.
              Provision of home services and customer service.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
