<style>
  .experience-list li {
    margin-bottom: 5px; /* Ajusta el valor según el espacio que desees */
  }
</style>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-12" style="font-family: 'Onest';">
    <div class="card rounded-5 border-0 efecto-vidrio">
      <div class="card-header mt-4 d-flex justify-content-center border-0 bg-transparent">
        <h2 class="text-white fw-light" style="font-family: 'Roboto';"><i class="bi bi-person-workspace"></i> Experiencia</h2>
      </div>
      <div class="card-body">
        <div class="timeline">
            <!-- CUOS Software Experience -->
            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="bi bi-laptop"></i>
              </div>
              <div class="ps-4">
                <h3 class="fw-bold fs-4 text-start text-white">Full Stack Developer - <span class="fs-5" style="color: #0dcaf0;">CUOS Software · Córdoba, Argentina</span></h3>
                <p class="fw-light text-white">Junio 2025 - Actualidad</p>
                <ul class="fw-light text-white experience-list" style="text-align: justify;">
                  <li>Desarrollo y mantenimiento de aplicaciones web utilizando <b>.NET</b>, <b>C#</b>, <b>Angular</b>, <b>Vue.js</b>, <b>SQL</b>, entre otros, Corrigiendo errores y creando nuevos componentes y funcionalidades.</li>
                  <li>Gestión y manejo de Consultas, Procedures en bases de datos con <b>ORACLE</b>.</li>
                  <li>Consumo y manejo de <b>APIs</b> RESTful, realizando pruebas y validaciones con <b>Postman</b>.</li>
                  <li>Desarrollo de varios proyectos en simultaneo con diferentes lenguajes y frameworks.</li>
                </ul>
              </div>
            </div>
          <!-- Epam Experience -->
          <div class="timeline-item">
            <div class="timeline-icon">
              <i class="bi bi-lightbulb"></i>
            </div>
            <div class="ps-4">
              <h3 class="fw-bold fs-4 text-start text-white">Tester QA - <span class="fs-5" style="color: #0dcaf0;">Epam Systems & Claro · Córdoba, Argentina</span></h3>
                <p class="fw-light text-white">Noviembre 2024 - Mayo 2025 ( 7 meses )</p>
              <ul class="fw-light text-white experience-list" style="text-align: justify;">
                <li>Gestioné implementaciones en entornos de prueba y producción.</li>
                <li>Diseñé y ejecuté casos de prueba utilizando Jira.</li>
                <li>Realicé pruebas exhaustivas probando funcionalidades en bases de datos.</li>
                <li>Documenté evidencias y hallazgos en Confluence.</li>
                <li>Ejecuté procesos automatizados a través de Jenkins.</li>
                <li>Realicé controles de posproducción para garantizar la estabilidad del sistema.</li>
                <li>Gestioné bases de datos, definí y ejecuté consultas en SQL.</li>
                <li>Analicé y resolví errores de código de manera eficiente.</li>
                <li>Realicé migración de procesos en el lenguaje Java y usé Bitbucket como control de versiones.</li>
                <li>Utilicé Postman para verificar las respuestas de la API.</li>
              </ul>
            </div>
          </div>

          <!-- Vates Experience -->
          <div class="timeline-item">
            <div class="timeline-icon">
              <i class="bi bi-code-slash"></i>
            </div>
            <div class="ps-4">
              <h3 class="fw-bold fs-4 text-start text-white">Desarrollador de Software .Net - <span class="fs-5" style="color: #0dcaf0;">Vates · Córdoba, Argentina</span></h3>
              <p class="fw-light text-white">Septiembre 2023 - Octubre 2024 ( 1 año y 4 meses )</p>
              <ul class="fw-light text-white experience-list" style="text-align: justify;">
                <li>Diseñé y desarrollé soluciones de software utilizando C# .NET 7.0.</li>
                <li>Utilicé Entity Framework para mapear objetos a tablas de bases de datos y realizar operaciones.</li>
                <li>Implementé servicios RESTful utilizando ASP.NET Core y Swagger para documentar la API.</li>
                <li>Utilicé LINQ para optimizar las consultas y manipular los datos de manera eficiente.</li>
                <li>Establecí y mantuve conexiones de bases de datos con SQL Server.</li>
                <li>Utilicé Git para controlar versiones y colaborar con otros desarrolladores.</li>
                <li>Implementé Entity Framework utilizando los enfoques Database First y Code First para el modelado y acceso de datos.</li>
                <li>Me formé en el desarrollo Front-end con ReactJs.</li>
                <li>Desarrollé aplicaciones web utilizando ReactJs consumiendo una API RESTful.</li>
                <li>Utilicé Postman para verificar las respuestas de la API.</li>
                <li>Hice uso del patrón de diseño CQRS para la segregación de responsabilidades y un código más eficiente.</li>
              </ul>
            </div>
          </div>

          <!-- Toti Conti Experience -->
          <div class="timeline-item">
            <div class="timeline-icon">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="ps-4">
              <h3 class="fw-bold fs-4 text-start text-white">Community Manager - <span class="fs-5" style="color: #0dcaf0;">Toti Conti S.A · Hernando, Córdoba, Argentina</span></h3>
              <p class="fw-light text-white">Julio 2021 - Enero 2023 ( 1 año y 7 meses )</p>
              <ul class="fw-light text-white experience-list" style="text-align: justify;">
                <li>Diseño y creación de flyers para sus redes sociales, promocionando su marca y sus productos.</li>
                <li>Usé herramientas como Photoshop y Canva para las publicaciones.</li>
              </ul>
            </div>
          </div>

          <!-- Baiocco Menardi Experience -->
          <div class="timeline-item">
            <div class="timeline-icon">
              <i class="bi bi-tools"></i>
            </div>
            <div class="ps-4">
              <h3 class="fw-bold fs-4 text-start text-white">Mantenimiento de Software y Hardware - <span class="fs-5" style="color: #0dcaf0;">Baiocco Menardi · Hernando, Córdoba, Argentina</span></h3>
              <p class="fw-light text-white">Agosto 2019 - Agosto 2020 ( 1 año )</p>
              <ul class="fw-light text-white experience-list" style="text-align: justify;">
                <li>Tareas de mantenimiento, limpieza, instalación de programas y optimización de software en diversos dispositivos electrónicos.</li>
                <li>Prestación de servicios a domicilio y atención al cliente.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>